<!-- Content for the about page -->
<% provide(:title, "About") %>
<div class="col-xs-12">
  <h1>About Mika's School of Music</h1>
  <h2>Life is a musical, learn to sing and play along</h2>
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-xs-5">
      <h2 class="about-text">Mika has been par of the Brisbane community for over 25 years giving her passion for music every single day.  What ever you want to learn Mika’s Music school has a mentor to guide you through the process of learning.</h2>
    </div>
    <div class="col-xs-7">
      <div class="contact-image" id="mikawilliams"></div>
    </div>
  </div>
   <hr class="featurette-divider">
  <div class="row">
    <div class="col-xs-7">
      <div class="contact-image" id="teacher1"></div>
    </div>
    <div class="col-xs-5">
      <h2 class="about-text">Martin Becan his career at Brisbane Boy's Grammar as Lead Choir Coach. During this time he studied a Bachelors of Art's and also holds a Masters in Choral Music</h2>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-xs-5">
      <h2 class="about-text">James has taught the guitar, piano, and triangle in Germany for 11 years before emigrating to Australia.</h2>
    </div>
    <div class="col-xs-7">
      <div class="contact-image" id="teacher2"></div>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-xs-7">
      <div class="contact-image" id="teacher3"></div>
    </div>
    <div class="col-xs-5">
      <h2 class="about-text">Shaun is in his last year at the Conservatorium of music Studying a Bachelors of Music Hons. He specialises in the saxophone and thimbles</h2>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-xs-5">
      <h2 class="about-text">Jamie is in her second year of a Bachelors of Music Hons. at UQ. She specialises in the glockenspeigh and singing</h2>
    </div>
    <div class="col-xs-7">
      <div class="contact-image" id="teacher4"></div>
    </div>
  </div>
</div>
