<!-- Content for the about page -->
<% provide(:title, "About") %>
<h1>About</h1>
<p>At Mika Williams school of music we want to give your child the lesson of a life time!</p>
<br><br><br><br><h3>We are located here:</h3>
  <iframe src="//www.google.com/maps/embed/v1/place?q=qut
      &zoom=11
      &key=AIzaSyAr0zvXU-yvhTClOyfJeQEwCEITYbDhrCI">
  </iframe>