<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This website is currently heavily following the developement line of the ruby on railys tutorial by micheal Hart. 
  Once the tutorial has been completed, this website will slowly integrate into becomeing the main website for the ifb 299 project.
</p>