<!-- Content for the contact page -->
<% provide(:title, "Contact") %>
<div class="col-xs-12">
    <h1>Get in Contact</h1>
    <h2>Life is a musical, learn to sing and play along</h2>
    <div class="col-xs-6">
        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:500px;width:500px;'><div id='gmap_canvas' style='height:500px;width:500px;'></div><div><small><a href="http://embedgooglemaps.com">embed google maps</a></small></div><div><small><a href="https://termsofusegenerator.net">terms of use example</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:15,center:new google.maps.LatLng(-27.4801466,153.01224660000003),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(-27.4801466,153.01224660000003)});infowindow = new google.maps.InfoWindow({content:'<strong>Mika Music School</strong><br>125 Boundary St, West End QLD 4101<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
    </div>
    <div class="col-xs-6">
        <h2 class="text-left">Email Mika to start now! mika@mikamusic.com</h2>
        <h2 class="text-left">Give Mika a call and start learning today!</h2>
        <h2 class="text-left">Phone: 1800 LESSONS</h2>
        <div>
            <div class="contact-image" id="mikawilliams"></div>
            <figcaption class="contact-figcaption">Mika Williams</figcaption>
        </div>
    </div>
</div>

