<!-- Content for the contact page -->
<% provide(:title, "Contact") %>
<div class="col-xs-12">
    <h1>Get in Contact</h1>
    <h2>Life is a musical, learn to sing and play along</h2>
    <div class="col-xs-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3527.4470639932897!2d153.01250585694464!3d-27.478801101676517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b9150a0e6413751%3A0x38d08cb74629cd8a!2s125+Boundary+St%2C+West+End+QLD+4101!5e0!3m2!1sen!2sau!4v1476909242796" width="500" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-xs-6">
        <h2 class="text-left">Email Mika to start now! mika@mikamusic.com</h2>
        <h2 class="text-left">Give Mika a call and start learning today!</h2>
        <h2 class="text-left">Phone: 1800 LESSONS</h2>
        <div>
            <div class="contact-image" id="mikawilliams"></div>
            <figcaption class="contact-figcaption">Mika Williams</figcaption>
        </div>
    </div>
</div>

