<!-- Content for the contact page -->
<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact us and begin learning your musical future.
</p>
<p>Email Mika to start now! mika@mikamusic.com</p>