<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
Having you having trouble signing-up? or simply having trouble navigating the website? 
Feel free to send an email at any time and we will try to get straight back to you!
</p>

<%= image_tag("Harambe.jpg", :alt => "Praise Harambe") %>