<div class="center jumbotron">
  <h1>Welcome to MikaMusical.com! #Music</h1>

  <h2>
    This is the home page for Mika Music! We specialize in teaching music and what not. 
    Come join the discussion on <a href="https://www.facebook.com/mikasmusicschool/" >facebook</a> now!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
