<!-- Content for the home page -->


<div class="center jumbotron">
  <h1>Welcome to Mika Music School</h1>

  <h2>Life is a musical, learn to sing and play along</h2>
    <h2>Come join the discussion on <a href="https://www.facebook.com/mikasmusicschool/" >facebook</a> now!</h2>

  <% if logged_in?%>
  <% else %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>

<div>
  <div class="row">
    <div class="col-md-4 col-xs-6">
      <a class="home-icon" href="/signup.html">
        <div class="home-instrument-image" id="guitar-icon"></div>
        <h2>
          Click here, to learn the guitar!
        </h2>
      </a>
    </div>
    <div class="col-md-4 col-xs-6">
      <a class="home-icon" href="/signup.html">
        <div class="home-instrument-image" id="percussion-icon"></div>
        <h2>
          Click here, to learn percussion!
        </h2>
      </a>
    </div>
    <div class="col-md-4 col-xs-6">
      <a class="home-icon" href="/signup.html">
        <div class="home-instrument-image" id="piano-icon"></div>
        <h2>
          Click here, to learn the piano!
        </h2>
      </a>
    </div>
    <div class="col-md-4 col-xs-6">
      <a class="home-icon" href="/signup.html">
        <div class="home-instrument-image" id="saxophone-icon"></div>
        <h2>
          Click here, to learn the saxophone!
        </h2>
      </a>
    </div>
    <div class="col-md-4 col-xs-6">
      <a class="home-icon" href="/signup.html">
        <div class="home-instrument-image" id="trumpet-icon"></div>
        <h2>
          Click here, to learn the trumpet!
        </h2>
      </a>
    </div>
    <div class="col-md-4 col-xs-6">
      <a class="home-icon" href="/signup.html">
        <div class="home-instrument-image" id="violin-icon"></div>
        <h2>
          Click here, to learn the violin!
        </h2>
      </a>
    </div>
  </div>
</div>
