<!-- Content for the student index page -->
<% provide(:title, 'Students') %>
<h1>Current Students</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <% if !user.teacher? && !user.admin?%>
    <%= render student %>
    <% end %>
  <% end %>
</ul>

<%= will_paginate %>
