<!-- Content for the teacher index page -->
<% provide(:title, 'Teachers') %>
<h1>Current Teachers</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <% if user.teacher?%>
    
      <% if user.activated?  %>
        <%= render user %>
        
      <% else %>
        <% if logged_in? && current_user.admin?%>
          <%= render user %>
           <% end %>
      <% end %>
      
      
    <% end %>
  <% end %>
</ul>

<%= will_paginate %>
